// import the CSS framework
@import "bootstrap";
@import "bootstrap-responsive";

.jumbotron {
  margin: 80px 0;
  text-align: center;
}

.navbar-inner {
  text-align: center;
  background-color: RGB(29,23,23);
  background-image: none;
  margin: 0;
}
.navbar .navbar-inner .nav {
  float: none;
  display:inline-block;
  font-size: 16px; 
}
.navbar .nav > li > a {
    color: #BB4040;
    text-shadow: 0 1px 0;
}
.navbar .nav > li > a:hover {
    color: RGB(216,60,58);
    text-shadow: 0 1px 0;
    text-decoration: underline; 
}

.thumbnails li {
  height: 400px;
  a, a:hover {
    text-decoration: none; 
    text-align: center;
  }
}
.footer {
  background-color: RGB(29,23,23);
  color: RGB(255,255,255);
}
.main {
  background-color: RGB(234,234,234);
}