// import the CSS framework
@import "bootstrap";
@import "bootstrap-responsive";

$font-size-base: 16px;

.navbar-inner {
    text-align: center;
    background-color: sRGB(29,23,23);
    background-image: none;
}
.navbar .navbar-inner .nav {
    float: none;
    display:inline-block;
    font-size: 16px;
}

.container {
  margin: 0px auto;
  padding-right:24px;
  padding-left:24px;
}
