// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #productModal 
// {
//     width: 700px;
//     margin-left:  -350px !important; 
// } 

// #productModal .modal-body {
//     max-height: 525px;
//     color: white
// }
#productModal .model-body .row-fluid .span5 {
  margin: 15px;
}

.span5 img {
    display: block;
    margin: auto;
}

.catalog  {
  height: 400px;
  text-align:center; 
  a, a:hover {
    text-align: center;
    
  }
  .span1 {
    padding-left: 15px;
  }
}

/* jQuery Countdown styles 1.5.6. */
.hasCountdown {
  border: 1px solid #ccc;
  background-color: red;
}
.countdown_rtl {
  direction: rtl;
}
.countdown_holding span {
  background-color: #ccc;
}
.countdown_row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
}
.countdown_show1 .countdown_section {
  width: 98%;
}
.countdown_show2 .countdown_section {
  width: 48%;
}
.countdown_show3 .countdown_section {
  width: 32.5%;
}
.countdown_show4 .countdown_section {
  width: 24.5%;
  border: 1px solid #ccc;
}
.countdown_show5 .countdown_section {
  width: 19.5%;
}
.countdown_show6 .countdown_section {
  width: 16.25%;
}
.countdown_show7 .countdown_section {
  width: 14%;
}
.countdown_section {
  display: block;
  float: left;
  font-size: 75%;
  text-align: center;
  border: 1px solid #ccc;
}
.countdown_amount {
  font-size: 200%;
}
.countdown_descr {
  display: block;
  width: 100%;
}
