// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #productModal 
// {
//     width: 700px;
//     margin-left:  -350px !important; 
// } 

// #productModal .modal-body {
//     max-height: 525px;
//     color: white
// }
#productModal .model-body .row-fluid .span5 {
  margin: 15px;
}

.span5 img {
    display: block;
    margin: auto;
}

.catalog  {
  height: 400px;
  text-align:center;
  margin: 15px 0 0 15px; 
  a, a:hover {
    text-align: center;
    
  }
  .span1 {
    padding-left: 15px;
  }
}